# Python
*.pyc
*.pyo
*.pyd
__pycache__/
.Python
env/
venv/
.env/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Django
*.log
local_settings.py
media/
# Do not ignore db.sqlite3 if you are intentionally tracking it in your project
# db.sqlite3

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
.cursor/
